html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: scroll;
}

.demoContainer {
    display: flex;
    justify-content: space-around;
    height: 100%;
}

.demoSectionWrapepr {
    display: inline-block;
    width: 98%;
}

.demoResponseList {
    background-color: lightgrey;
    margin: 0;
    padding-right: 5px;
    overflow-y: scroll;
    height: calc(100% - 3px * 2 * 12);
}

.demoResponseList li {
    list-style-type: decimal;
    padding: 3px 0;
    word-wrap: break-word;
}

.demoResponseList li + li {
    border-top: 1px solid black; 
}


.navbar {
    margin-bottom: 0;
    border-radius: 0;
}
    
.row.content {height: 450px}
    
    

    
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {height:auto;} 
}


text{
font-size:12px;
}
.mainBars rect{
  shape-rendering: auto;
  fill-opacity: 0;
  stroke-width: 0.5px;
  stroke: rgb(0, 0, 0);
  stroke-opacity: 0;
}
.subBars{
	shape-rendering:crispEdges;
}
.edges{
	stroke:none;
	fill-opacity:0.5;
}
.header{
	text-anchor:middle;
	font-size:16px;
}
line{
	stroke:grey;
}